@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 167, 139, 250;
  --background-end-rgb: 236, 72, 153;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom right, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.swipe-instruction {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: white;
  opacity: 0.7;
  z-index: 20;
}

/* Add smooth scrolling for mobile */
@media (max-width: 768px) {
  .smooth-scroll {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
}

